<!-- this is a copy of index.html.erb -->
<!-- modify appropriately and/or DRY up in the future -->

<% if !@questions.empty? %>
  <% @questions.each do |question| %>
    <div id="question-<%= question.id %>-wrapper">
      <%= render 'respond', question: question %>
    </div>
  <% end %>
<% else %>
  <div class="jumbotron" align="center">
    <h1>No New Questions Left!</h1>
  </div>
<% end %>

<hr>

<div class="panel panel-default">
  <div class="list-group" align="center">
    <strong>
      <!-- RELOAD LINK DOES NOT WORK -->
      <%= link_to 'Get New Questions',
          questions_path,
          class: "list-group-item list-group-item-info" %>
      <%= link_to 'Write Your Own Question',
          new_question_path,
          class: "list-group-item list-group-item-info" %>
      <%= link_to 'View Seen Questions',
          seen_questions_path,
          class: "list-group-item list-group-item-info" %>
    </strong>
  </div>
</div>